.InfiniteScroll {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll {
    position: relative;
    display: flex;
    /* width: 100%;
    max-width: 700px; */
    overflow: hidden;
    mask-image: linear-gradient(90deg, transparent, #ffffff 10%, #ffffff 90%, transparent);
    -webkit-mask-image: linear-gradient(90deg, transparent, #ffffff 10%, #ffffff 90%, transparent);
}

.scroll div {
    white-space: nowrap;
    animation: animate1 var(--timeScroll) linear infinite;
    animation-delay: calc(var(--timeScroll) * -1);
}

.scroll div:nth-child(2) {
    animation: animate2 var(--timeScroll) linear infinite;
    animation-delay: calc(var(--timeScroll) / -2);
}

@keyframes animate1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

.scroll div span {
    display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin: 0 20px 0 20px;
    background: var(--white-003);
    padding: 6px 12px;
    border-radius: 15px;
    transition: .5s;
	text-transform: uppercase;
	padding: 20px 40px;
}

.scroll div span b:nth-child(1) {
	font-size: 40px;
}

.scroll div span:hover {
    background: var(--gradient-1);
    cursor: pointer;
}